<h1 style="text-align:center">Get ready for chat war</h1>
<div ng-controller='HomeController'>
<div class="container" style='text-align: center'>
        <h3 >   Get your character and toast others </h3>  
        <br>
        <input type="text" name='joiningRoom' ng-model='joinRoomName' >   <button class='btn btn-success btn-lg' ng-click="joiningRoom()">Join Room </button>
<br><br>
     <input type="text" name='creatingroom'  ng-model='createRoomName' >   <button class='btn btn-success btn-lg' ng-click="creatingRoom()"> Create room </button>

      
     </div>  

        </div>
