.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}



.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav li {font-size: 18px;}
}

.selfMessage
{

    
    border: 2px solid #dedede;
    background-color:#d2e3f4;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

}
.selfMessage::after
{
    content: "";
    clear: both;
    display: table;
}

.otherMessage
{
    border: 2px solid #dedede;
    background-color :#d4fcdb;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

}
.otherMessage::after{
    content: "";
    clear: both;
    display: table;
}
/* .otherMessage p{
    clear:both;
   padding: 0 20px;
}
.selfMessage p
{
    clear:both;
padding: 0 20px;

} */
.userShowing
{
    float: right;
    color: #aaa;
}
.userShowingleft
{
    float:left;
    color: #aaa;
}